//====================================================================================================
.footer {
	background-color: #f7f7f7;
	padding: 100px 0;
	// .footer__row
	&__row {
		@include flexbox();
		align-items: center; // чтобы контент был посередине колонок. (А justify-content здесь не делаем - потому что нам надо по-разному выровнять горизонтально блоки social и dev - поэтому мы их самих потом сделаем флекс-контейнерами и каждый уже выровняем горизонтально с пом justify-content как нам нужно)
	}
	// .footer__column
	&__column {
		flex: 0 1 33.333%; // мы хотим чтобы кажд колонка не занимала больше трети в ширину - поэтому просто justify-content: space-between в &__row нам не совсем подойдет -- в данном случае он будет работать - но верстка будет менее гибкой! Если будут менять контент то она может сломаться! Поэтому надежнее ограничить колонки! Но если мы не задаем в &__row justify-content: space-between, то все колонки по умолчанию будут justify-content: flex-start - что нам подойдет только для первой колонки если мы хотим их "раскидать" - поэтому для второй должно стоять justify-content:center (в данном случае стоит не в колонке а в блоке social) и для последней должно стоять justify-content: flex-end (стоит в блоке dev)
	}
	// .footer__address
	&__address {
		padding: 0px 20px 0px 0px; // а эт зачем? вроде ничего не меняет
		color: #848789;
		font-size: 14px;
		line-height: 18px;
		p{
			&:first-child{
				font-weight: 700;
			}
		}
	}
	// .footer__social
	&__social {}
	// .footer__dev
	&__dev {}
	
	@media (max-width:1100px){
		padding: 50px 0;
	}
	@media (max-width:600px){
		padding: 30px 0;
		&__row { // где-то на 600 пикселей нам нужно уже это дело ломать чтобы у нас вот она не сломалась сама
			flex-direction: column;
			text-align: center;
		}
		&__address {
			padding: 0; // нужно не забыть когда мы это дело ломаем уже здесь вот убираем колонн личность превращая ну то есть fox direction column разворачиваем тут нам нужно убрать у адреса padding здесь чтобы он был по центру (ток зачем мы его ставили вообще? Правый паддинг?? Попробовал брать - вроде вообще ни на что не влияет!)
		}
		&__social {
			margin: 15px 0; // чтобы было у нас меньше движений мы обращаемся сразу обращаемся к среднему блоку и ему задаем отступы вверх вниз вот у нас было меньше кода
		}
	}
}
.social {
	@include flexbox();
	justify-content:center;
	align-items: center; // вообще ничего не меняет - потому что мы и так уже в &__row обрезали высоту до высоты контента - и все эл-ты здесь одинаковой высоты все равно (в отличие от .dev) - но видимо сделано на всякий случай для надежности

	// .social__link
	&__link {
		margin: 0px 7.5px;
	}
}
.dev {
	@include flexbox();
	align-items: center; // чтобы текст handcrafted был посередине иконки
	justify-content: flex-end;
	// .dev__text
	&__text {
		color: #848789;
		font-size: 14px;
		font-style: italic;
		padding: 0px 9px 0px 0px;
	}
	// .dev__icon
	&__icon {}
}

//====================================================================================================

